
<% if @user %>
  <% if @user == current_user %>
    <h1>My Meals</h1>
    <%= link_to "Leave a comment", new_user_comment_path(@user) %><br/>
  <% else %>
    <h1><%= @user.username %>'s Meals</h1>
    <%= link_to "Leave a comment for #{@user.username}", new_user_comment_path(@user) %><br/>
  <%end %>
  <%= render @user.comments %>
<%else%>
  <h1>Everyone's Meals</h1>
<%end%>
<%= (link_to 'New Meal', new_user_meal_path(current_user)) if current_user && can?(:create, current_user.meals.build) %>
<div class='meal-list'>
  <%= render @meals%>
</div>

